# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# raw data
*data.txt
*.csv

# Pytorch model
*.pt
*.pyc
*.bin
dllogger.json
**/__pycache__/
model_zoo/BERT/models/data/squad/v1.1
model_zoo/BERT/models/data/squad/v2.0
model_zoo/BERT/models/checkpoints/cased*
model_zoo/SSD_ResNet50/models_*
logfile.txt
*.egg
